body{
  background: #888a8d;
}

.navbar{
  /* background-image: linear-gradient(to right, rgb(65, 61, 61), rgb(124, 124, 192), rgb(144, 159, 185)); */
  background-color:rgb(12, 39, 61);
}
.comp_container {
  display: flex;
  justify-content: center;
  align-items: center;
  min-height: 70vh;
}

.form_container {
  padding: 2.5rem;
  box-shadow: 0 2.8px 2.2px rgba(0, 0, 0, 0.034),
    0 6.7px 5.3px rgba(0, 0, 0, 0.048), 0 12.5px 10px rgba(0, 0, 0, 0.06),
    0 22.3px 17.9px rgba(0, 0, 0, 0.072), 0 41.8px 33.4px rgba(0, 0, 0, 0.086),
    0 100px 80px rgba(0, 0, 0, 0.12);
  min-width: 35vw;
  height:78vh;
  margin-top: 6vh;
  margin-left:17vh;
  margin-right:17vh;
  background-image: linear-gradient(to right, #6d2ffdf3, rgb(194, 135, 228), rgba(199, 81, 183, 0.925));
}

.form_container1 {
  padding: 2.5rem;
  box-shadow: 0 2.8px 2.2px rgba(0, 0, 0, 0.034),
    0 6.7px 5.3px rgba(0, 0, 0, 0.048), 0 12.5px 10px rgba(0, 0, 0, 0.06),
    0 22.3px 17.9px rgba(0, 0, 0, 0.072), 0 41.8px 33.4px rgba(0, 0, 0, 0.086),
    0 100px 80px rgba(0, 0, 0, 0.12);
  min-width: 35vw;
  height:80vh;
  margin-top: 5vh;
  margin-left:17vh;
  margin-right:17vh;
  background-image: linear-gradient(to right, #6d2ffdf3, rgb(194, 135, 228), rgba(199, 81, 183, 0.925));
}

.form_heading {
  padding: 1rem;
  text-align: center;
  color: #444;
}

.login_form{
  /* margin-bottom:rem; */
  margin-right:3rem;
  backdrop-filter: blur(10px);
  background-color : rgba(255, 255, 255, 0.514);
  padding:2rem;
  box-shadow: rgba(50, 50, 93, 0.25) 0px 50px 100px -20px, rgba(0, 0, 0, 0.3) 0px 30px 60px -30px;
}

.loginImg{
  box-sizing:border-box;
  filter: drop-shadow(0 0 0.75rem rgb(47, 61, 138));
  /* padding-right:5rem; */

}

.registerImg{
  box-sizing:border-box;
  filter: drop-shadow(0 0 0.75rem rgb(47, 61, 138));
  /* padding-right:5rem; */

}

.reg_form{
  margin-top:2rem;
  margin-bottom:2rem;
  backdrop-filter: blur(10px);
  background-color : rgba(255, 255, 255, 0.514);
  padding:0 3rem ;
  box-shadow: rgba(50, 50, 93, 0.25) 0px 50px 100px -20px, rgba(0, 0, 0, 0.3) 0px 30px 60px -30px;
}

@media screen and (max-width: 1200px) {
    .form_container{
      display: flex;
      flex-direction:column;
    }
}